<!DOCTYPE html>
<html hmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>XXI Century. CC report Module</title>
        <link rel="shortcut icon" href="images/icon.png" type="image/x-icon">
    </head>

    <body>
        <h1>Укажите профиль приложения из списка:</h1>
        <form method="post" th:object="${settingHolder}" action="types">
            <div th:each="p: ${@availableDistricts.entrySet}">
                <input th:field="*{districtName}" type="radio"
                       th:value="${p.getKey}">
                <span th:text="${p.getValue}">profileName</span>
            </div>
            <div>
                <button>Далее</button>
            </div>
        </form>


    </body>
</html>



