<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>XXI Century. CC report Module</title>
    <link rel="shortcut icon" href="images/icon.png" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
</head>
<body>
    <h1>Параметры отчета</h1>
    <form method="post" th:object="${settingHolder}" enctype="multipart/form-data" th:action="@{/reportmodule/reportparameters}">
        <div th:if="*{type.toString()} == 'VOLUME_FORMING'">
            Порог кредитного лимита:
            <input th:field="*{limit}" type="text">
        </div>
        <div>
            Файл с исходными данными:
            <input type="file" name="sourceFile">
        </div>
        <div class="warning">
            <h3>ВНИМАНИЕ! ФАЙЛ ДОЛЖЕН СОДЕРЖАТЬ ОБЯЗАТЕЛЬНЫЕ ПОЛЯ:</h3>
            <ul  th:each="map: ${@fields.get(settingHolder.type.toString())}">
                <li th:text="${map.getValue.toString().replace('[', '').replace(']', '').replace(',', ' или')}">ListOfNames</li>
            </ul>
        </div>
        <div>
            <button>Пуск</button>
        </div>
    </form>

</body>
</html>
